{% extends "housing/base.html" %}

{% block content %}
    <div class="container">
        <h2>Frequently Asked Questions</h2>
        <p>Below are common questions and answers about the NT Housing Maintenance System.</p>

        <ol>
            <li>
                <strong>How does this site run?</strong>
                <div>Ans: The NT Housing Authority.</div>
            </li>
            <li>
                <strong>How can I reset my password?</strong>
                <div>Ans: Follow the reset password link on the Home page.</div>
            </li>
            <li>
                <strong>Do you have warranty on jobs completed?</strong>
                <div>Ans: Although all jobs have warranty, the warranty is for the Housing Authority and not the renter.</div>
            </li>
            <li>
                <strong>Do I need to sign a contract?</strong>
                <div>Ans: No, all contracts are between the tradesman and the NT Housing Authority.</div>
            </li>
            <li>
                <strong>Do I pay anything when the tradesman comes to my home?</strong>
                <div>Ans: No, all payments are between the Housing Authority and the tradesmen involved.</div>
            </li>
            <li>
                <strong>How long will I wait for the repair to be completed?</strong>
                <div>Ans: Although times vary, most urgent work is completed in a day while non-urgent standard jobs should be completed within a month from the original request.</div>
            </li>
        </ol>
    </div>
{% endblock %}
